<<define "common_app">>
<script>
Vue.use(VueMaterial);
	
Vue.material.registerTheme('default',{
    primary: 'black',
    accent: 'grey'
});

app = new Vue({
    el: '#app',
    data: {
	user: {'name':'sumit',"phone":"phone"},
	marketplace:'',
	templates: []
    }
});

</script>
<<end>>