<<define "header">>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
     <script src="https://apis.google.com/js/platform.js"></script>
       <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta charset="utf-8">
        <style>
      .left,.left50{float:left;}
      .left50,.right50{width:40%;}
      .right,.right50{float:right;}
      .left,.right{width:100%;}
      .center {text-align:center;}
      .pick .md-list-item  {font-size:10px;}
      .topper {
         padding-top: 45px;
      }
      .bottompad{padding-bottom:45px;}
      .wider {
         margin: 0px 45px;
      }
      .chotapad{padding:5px;}
      .align-right{text-align:right;}
    </style>
</head>
<body>
<md-progress :md-progress=0 id="loading"></md-progress>
<<end>>
