<<define "word_counter">>
<<template "header" .>>
<div id="app" class="md-theme-default">
  <div class="col-md-12">
  <<template "partial_word_counter" .>>  
  </div>
</div>
<<template "footer" .>>
<<template "common_app" .>>
</body></html>
<<end>>